extends ../layout/main

block content
    ul.my-5
        li переход по месяцам календаря
        li выбор дня
        li выбор диапазона (разные параметры в data-атрибутах)
        li загрузка событий через JSON (badge на днях)
        li возможность привязки к input в нужном формате
        li использовать moment.js