extends ../layout/main

block content
    h1.text-center.mb-4 Chips

    h3 Description

    p This input combines chip values to the string like #[code first,second,third] and put in into hidden input (see code)

    h3.mt-5 Simple input

    p To create #[code chip] input just paste following code as is

    pre.code(data-lang='HTML')
        code
            :highlight(lang='html')
                <div class="form-group">
                    <input class="form-input" type="text" name="users" data-chips>
                </div>

    h5 Result

    .form-group
        input.form-input(type='text' name='users' placeholder='first, second, third' data-chips)
        .form-input-hint Values will be split after you type ',' or press Enter

    p.mt-5 Another example with submitting only by #[code Enter]

    pre.code(data-lang='HTML')
        code
            :highlight(lang='html')
                <div class="form-group">
                    <input class="form-input" type="text" name="users" data-chips data-chips-comma="false">
                </div>

    h5 Result

    .form-group
        input.form-input(type='text' name='users' placeholder='first, second, third' data-chips data-chips-comma="false")
        .form-input-hint Values will be split after you press Enter

    p.mt-5 Another example with custom chips & container classes

        pre.code(data-lang='HTML')
            code
                :highlight(lang='html')
                    <div class="form-group">
                        <input class="form-input" type="text" name="users" data-chips data-chips-container-classes='["py-5", "px-2", "bg-primary"]'>
                    </div>

                    <div class="form-group">
                        <input class="form-input" type="text" name="users" data-chips data-chips-classes='["bg-primary"]'>
                    </div>

        h5 Result

        .form-group
            input.form-input(type='text' name='users' placeholder='first, second, third' data-chips data-chips-container-classes='["py-5", "px-2", "bg-primary"]' data-chips-classes='["bg-dark"]')

        .form-group
            input.form-input(type='text' name='users' placeholder='first, second, third' data-chips data-chips-classes='["bg-primary"]')

    h3.mt-5 Methods

    p Here you can find a short descriptions for widget methods

    h6 #[code Chips.get(querySelector)]
    p Returns a widget instance by query selector

    pre.mb-5.code(data-lang="JS")
        code
            :highlight(lang='js')
                let chip = Spectre.Chips.get('#selector');

                chip.log();

    h6 #[code instance.add(value)]
    p Adds a new chip value

    pre.mb-5.code(data-lang="JS")
        code
            :highlight(lang='javascript')
                let chip = Spectre.Chips.get('#selector');

                chip.add('new chip value');

    h6 #[code instance.delete(value)]
    p Removes a chip by value

    pre.code(data-lang="JS")
        code
            :highlight(lang='javascript')
                let chip = Spectre.Chips.get('#selector');

                chip.delete('old chip value');

    .hero