extends ../layout/main

block content
    h1.text-center.mb-4 Spectre.css - Javascript components

    h3 Description

    p.
        This project contains Javascript implementation of
        #[a(href='https://picturepan2.github.io/spectre/index.html') Spectre.css]
        framework components as 'ready-to-use' package. Source code on
        #[a(href='https://github.com/manchenkoff/spectre.js') Github]

    h3 Installation

    p You have to run following command to add a dependency to your project

    pre.code(data-lang='Bash')
        code
            :highlight(lang='bash')
                npm i spectre.css-js

    p After package installation you may use Spectre.js by two methods:
        ul
            li Include components with automatic registration #[code dist/spectre.bundle.js]
            li Import classes and register only necessary for your project #[code dist/spectre.js] or #[code src/spectre.js]