extends ../layout/main

block content
    h1.text-center.mb-4 Spectre.css - Javascript components

    h3 Description

    p.
        This project contains Javascript implementation of
        #[a(href='https://picturepan2.github.io/spectre/index.html') Spectre.css]
        framework components as 'ready-to-use' package. Source code on
        #[a(href='https://github.com/manchenkoff/spectre.js') Github]

    h3 Installation

    p How to ...