extends ../layout/main

block content
    ul.my-5
        li возможность перемещения ползунков
        li если один: задаем числовой input (number)
        li если два: указываем input на диапазон (посмотреть доки, либо просто два значения)
        li установка значений через JS (setStart, setEnd, setValues)
        li вывести значения над кнопкой ползунка

    .p-2
        .py-3
            // simple slider
            .bar.bar-slider(data-slider)
                .bar-item(role='progressbar' style='width: 20%')
                    button.bar-slider-btn.btn(role='slider')

        .py-3
            // range slider
            .bar.bar-slider(data-slider)
                .bar-item(role='progressbar' style='width: 35%')
                    button.bar-slider-btn.btn(role='slider')
                .bar-item(role='progressbar' style='width: 70%')
                    button.bar-slider-btn.btn(role='slider')