extends ../layout/main

block content
    ul.my-5
        li переключение вкладок по нажатию
        li удаление вкладок по закрытию
        li добавление вкладок через JS метод класса: tabsController.addTab('Simple', 'Content')