extends ../layout/main

block content
    ul.my-5
        li закрытие уведомление по нажатию иконки
        li показ уведомлений сбоку через Toasts.info('Title', 'Content') или Toasts.error()...
        li автоматическое скрытие если не закрыл через 3 секунды (возможность настраиать)