ul.nav
    li.nav-item.active
        a(href='index.html') Home
    li.nav-item
        a Examples
        ul.nav
            li.nav-item
                a(href='chips.html') Chips
            li.nav-item
                a(href='tabs.html') Tabs
            li.nav-item
                a(href='toasts.html') Toasts
            li.nav-item
                a(href='auto-complete.html') Auto-complete